@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container{
    max-width: 1400px;
    height: 94px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 36px 120px;
}
.container header nav {
    display: flex;
    justify-content: center; /* Öğeleri yatayda ortalamak için */
    align-items: center; /* Öğeleri dikeyde ortalamak için */
    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center; /* Öğeleri dikeyde ortalamak için */
}

li {
    margin-right: 20px;
    font-size: 16px;
}

li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

input {
    width: 89px;
    height: 38px;
    border-radius: 28px;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 15px;
}
